<main class="container">
    <h1>{{title}}</h1>
    <div class="card my-3 border-0">
        <h2 class="card-header">Cadastro</h2>
        <div class="card-body">
            <form method="POST">
                <fieldset>
                    <legend>Dados do Pet</legend>
                    <div class="form-group">
                        <label for="pet_name">Nome:</label>
                        <input type="text" class="form-control" name="pet_name" id="pet_name" value="{{pet_name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="breed">Raça:</label>
                        <input type="text" class="form-control" name="breed" id="breed" value="{{breed}}" required>
                    </div>
                    <div class="form-group">
                        <label for="pet_birth_date">Data de nascimento:</label>
                        <input type="date" class="form-control" name="pet_birth_date" id="pet_birth_date" value="{{pet_birth_date}}" required>
                    </div>
                    <div class="form-group">
                        <label for="last_vaccine_date">Data da última vacina:</label>
                        <input type="date" class="form-control" name="last_vaccine_date" id="last_vaccine_date" value="{{last_vaccine_date}}">
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Dados do Dono</legend>
                    <div class="form-group">
                        <label for="owner_name">Nome:</label>
                        <input type="text" class="form-control" name="owner_name" id="owner_name" value="{{owner_name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="owner_birth_date">Data de nascimento:</label>
                        <input type="date" class="form-control" name="owner_birth_date" id="owner_birth_date" value="{{owner_birth_date}}" required>
                    </div>
                    <div class="form-group">
                        <label for="document_number">CPF:</label>
                        <input type="text" class="form-control" name="document_number" id="document_number" value="{{document_number}}" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefone:</label>
                        <input type="phone" class="form-control" name="phone" id="phone" value="{{phone}}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" name="email" id="email" value="{{email}}" required>
                    </div>
                    <div class="form-group">
                        <label for="postal_code">CEP:</label>
                        <input type="text" class="form-control" name="postal_code" id="postal_code" value="{{postal_code}}" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Endereço:</label>
                        <input type="text" class="form-control" name="address" id="address" value="{{address}}" required>
                    </div>
                    <div class="form-group">
                        <label for="state">Estado:</label>
                        <input type="text" class="form-control" name="state" id="state" value="{{state}}" required>
                    </div>
                    <div class="form-group">
                        <label for="city">Cidade:</label>
                        <input type="text" class="form-control" name="city" id="city" value="{{city}}" required>
                    </div>
                </fieldset>                
                
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>            
        </div>        
    </div>
</main>