:root {
    --home-text-color: #462b6e;
}

body {
    background: linear-gradient(to bottom, #9370DB, #661A99) no-repeat;    
}

#intro {
    background-image: url('../../../Images/woman-with-home-pets.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 6em);
    overflow-y: hidden;
}

#footer {
    background-color: #fff;
}

.cover-page {
    height: calc(100vh - 6em);
}